<div class="container chatContainer mt-5">
  <form id="chatForm">
    <input type="email" id="email" placeholder="Ingrese Email" class="form-control" required>
    <input type="text" id="text" placeholder="Mensaje:" class="form-control">
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
  <div>
    <div class="container mt-5" id="messages"></div>
  </div>
</div>