<nav class="mt-5 navbar navbar-light bg-success">
  <div class="container-fluid">
    <div class="fs-5">
      <img
        src="https://brandeps.com/logo-download/S/Socket-io-logo-vector-01.svg"
        alt="socket.io"
        width="100"
        height="40"
        class="d-inline-block align-text-middle"
      />
      Socket.io Chat
    </div>
    <div class="container text-warning">
      <h5>Ingese Correo y Mensaje para comenzar un chat</h5>
    </div>
  </div>
</nav>