<div class="container-fluid bg-warning" style="display: flex; justify-content:space-between; align-items:center; margin-bottom: 2rem;">
    <div class="text-center primary bg-info m-2 p-2">
        <h6><i>usuario:</i></b></h6>
        <h2><b> {{nombre}} </b></h2>
        <span>email:</span>
        <span><i> {{email}} </i> </span>
    </div>
    <div> 
        <button class="btn btn-danger" onclick="location.href='/logout'">Desloguear</button>
    </div>
</div>

{{> faker}} 

