<div class="container text-center bg-success">

  <h4>Le damos la Bienvenida, </h4>
  <h2><b> {{nombre}} {{username}} {{usuario.username}}</b></h2>
  <h5>Ahora puede acceder a ver los productos!</h5>
  <button
    class="btn btn-danger my-4"
    onclick="location.href='/productos'"
  >PRODUCTOS</button>
  <button
    class="btn btn-danger my-4"
    onclick="location.href='/logout'"
  >SALIR DE SESION</button>

</div>

