<div class="container text-center mt-5 my-3 p-5 bg-primary text-light">
  <div>
    <h2>Error al registrarse: regrese al Login</h2>
    <div class="mt-5 my-3">
      <h3><i>tip: Pruebe con otro nombre de usuario o email</i></h3>
    </div>
    <button
      class="btn btn-warning my-5"
      onclick="location.href='/registro'"
    >VOLVER</button>
  </div>
</div>